// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #217F8E // #027BE3
$secondary = #7FB47E //#26A69A
$accent    = #DA788B //#9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables-styl'
