@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $primary;
  text-decoration: underline;
}

table.vgt-table.sws-table {
 font-size: 14px;
}

.sws-td-badge span {
  border-radius: 8px;
  padding: 2px 6px;
  color: white;
}
.sws-td-badge-neg span {
  background-color: $negative;
  opacity: 0.6;
}

.sws-td-badge-warn span {
  background-color: $warning;
  opacity: 0.7;
  color: black;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.q-splitter-panel-height-auto.q-splitter__panel {
  height:auto;
}

.sws-bg-gradient2 {
  background-image: linear-gradient(
          to right,
          #f6d365 0%,
          #fda085 51%,
          #f6d365 100%
  );
}

.sws-bg-gradient1 {
  background-image: linear-gradient(
          to right,
          #f5f2f0 0%,
          #ffffff 51%,
          #f5f2f0 100%
  );
}

