// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #027BE3 //#8b957b //#217F8E //
$secondary = #26A69A //#c5c9c1 // #7FB47E //
$accent    = #9C27B0 //#b89b6b // #DA788B //

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables-styl'
